  <!-- Sección Proyectos -->
  <section id="proyectos">
    <h2>Proyectos Destacados</h2>
    <div class="proyecto-grid">
        <div class="proyecto">
            <img src="Images/VistaEscuela.jpg" alt="Proyecto 1">
            <h3>Proyecto 1</h3>
            <p>Descripción breve del proyecto.</p>
        </div>
        <div class="proyecto">
            <img src="Images/VistaVolcan.jpg" alt="Proyecto 2">
            <h3>Proyecto 2</h3>
            <p>Descripción breve del proyecto.</p>
        </div>
        <!-- Más proyectos -->
    </div>
</section>
