<!-- Sección Hero
<section id="inicio" class="hero">
</section>
-->

@if (images) {
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="Images/Principal.jpg"/>
			</div>
			<div class="carousel-caption">
				
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="Images/VistaEscuela.jpg" />
			</div>
			<div class="carousel-caption">
				
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="Images/Noche.jpg" />
			</div>
			<div class="carousel-caption">

			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="Images/VistaVolcan.jpg" />
			</div>
			<div class="carousel-caption">
				
			</div>
		</ng-template>

		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="Images/Fiesta.jpg"/>
			</div>
			<div class="carousel-caption">
				
			</div>
		</ng-template>
	</ngb-carousel>
}

