 <!-- Encabezado -->

 <div class="titulo"> <img src="Images/logo.jpg" class="imagenLogo" height="100"
    width="100" alt="Logo ADI Monterrey">
    <h1 class="titulo">Asociación de Desarrollo Integral Monterrey</h1>
</div>
<header>

    <nav>
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/proyectos">Proyectos</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/contacto">Contactos</a></li>

        </ul>
    </nav>
</header>

